*, *::before, *::after { /* det er her front indstillinger */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body { /* det her fjerner alt padding og margin så det fylder hele skærmen og ligger farve på baggrunden */
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #A90432, #FDB912);
} 

.calculator-grid { /* det her skaber en lommeregner form */
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); 
}

.calculator-grid > button { /*det her tilpasser formen */ 
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: rgba(255,127,80, .50);
}

.calculator-grid > button:hover { /*det her gør så at den skifter farve når jeg har musen over */
    background: rgba(255,127,80, .9);
}

.span-two { /*det her gør så "AC" og "=" fynder 2 istedet for 1 */
    grid-column: span 2;
}

.output { /*det her er den øverste del hvor man kan se hvad man har trykket ind og svar */
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand { /*det her skifter farve på det øverste tal */
    color: rgba(255,127,80, .60);
    font-size: 1.5rem;
}

.output .current-operand { /*det her skifter farve på det nederste  tal */
    color: rgba(255,127,80, .60);
    font-size: 2.5rem;
}